.titulo {
   text-align: center;
   margin: 30px;
   border: solid red;
   text-shadow:1px 1px grey;
}

.receita
{
    border: 2px solid red;
    margin: 20px;
    text-align: center;
}

.receita-box
{
	position: relative;
    height: auto;
    width: auto;
    margin: 20px;
    display: inline-block;
}
.receita-box:hover img

{
	opacity: 0.5;
	transition: 400ms;
	
}

.receita-box:hover .texto
{
	opacity: 1;
	transition: 2000ms;
}


.barra,
img{
	box-shadow: 2px 2px gray;
    margin: auto;
    height:auto;
    width: 250px;
    display: block;
	
	
}
img
{
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
}

.texto
{
	font-family:Arial, Helvetica, sans-serif;
	color:yellow;
	text-shadow: 1px 1px orange;
	font-size: 15px;
	position: absolute;
	top: 285px;
	right: 00px;
	opacity: 0;
	
} 

.barra
{
	font-size: 20px;
	background-color: grey;
	box-shadow: 2px 2px gray;
	max-width: 200px;
	height: 30px;
	border-bottom-left-radius:10%;
	border-bottom-right-radius:10%;
	
}

.receita-box:hover .barra
{
	background-color: black;
	color: white;
	transition: 700ms;
	height: 100px;
	font-size:22px;
	max-width: 250px;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	
}






.butao {
	

}
