.titulo {
   text-align: center;
   margin: 30px;
   border: solid red;
}

.receita
{
    border: 2px solid red;
    width: auto;
    height: auto;
    margin: 20px;
    text-align: center;
}

.receita-box
{
	position: relative;
    text-align:center;

    height: auto;
    width: 200px;
    margin: 20px;
    display:inline-block;
}
.receita-box:hover img

{
	opacity: 0.3;
	
}

.receita-box:hover .texto
{
	opacity: 1;
	transition: 1500ms;
}


img{
	box-shadow: 2px 2px gray;
    margin: auto;
    height:auto;
    width: 200px;
    display: block;
	
}

.texto
{
	font-family:Arial, Helvetica, sans-serif;
	color:yellow;
	text-shadow: 1px 1px black;
	display: inline-block;
	position: absolute;
	top: 235px;
	right: 00px;
	opacity: 0;
} 

.barra
{
	font-size: 20px;
	background-color: grey;
	box-shadow: 2px 2px gray;
	max-width: 200px;
	height: 30px;
}

.receita-box:hover .barra
{
	background-color: black;
	color: white;
	transition: 300ms;
	height: 100px;
	font-size:22px;
	
}







.butao {
	

}
